---
pagination:
  data: posts
  size: 3000
---
<html>
<head>
<style>
  html, body {
    font-family: 'Courier';
  }
</style>
</head>
<body>
{%- for item in pagination.items %}
<div class="h-entry">
<p class="p-content">
  <time class="dt-published">{{ item.properties.published[0].substr(0, 10) }}</time>: 
  (<a class="u-author" href="{{ item.properties.author[0].properties.url[0] }}">{{ item.properties.author[0].properties.name[0] }}</a>)
  {{ item.properties.content[0] }}
 </p>
</div>
{% endfor -%}
</body>
</html>
