---
pagination:
  data: posts
  size: 10000
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta http-equiv="content-type" content="text/html;UTF-8">
  <meta http-equiv="content-language" content="en">
  <meta http-equiv="content-security-policy" content="upgrade-insecure-requests">
  <meta name="author" content="Tommy Ku">
  <link rel="author" href="https://tommyku.com/"/>
  <link rel="publisher" href="https://tommyku.com/"/>
  <meta name="copyright" content="Tommy Ku">

  <meta http-equiv="cache-control" content="cache">
  <meta http-equiv="revisit-after" content="1 day">

  <title>News</title>

  <style>
    :root {
        --content-width: 640px;
    }
    html, body {
        padding: 0;
        margin: 0;
        font-family: sans-serif;
        font-size: medium;
        /* letter-spacing: -0.25px; */
        line-height: 1.425;
    }
    body {
        padding: 0 12px;
    }
    @media only screen and (max-width: 560px) {
        :root {
            --content-width: 480px;
        }
        main {
            padding-left: 12px;
            padding-right: 12px;
        }
        main p {
            text-align: initial !important;
        }
        header h1 section > a:nth-child(1) {
            position: inherit !important;
        }
    }
    header, footer, h1, nav {
        max-width: var(--content-width);
        margin: auto;
        margin-top: 12px;
    }
    header section {
        min-height: 48px;
    }
    header h1 {
        margin-bottom: 24px;
    }
    header h1 section > a:nth-child(1) {
        position: absolute;
        line-height: 0;
    }
    header h1 section > a:nth-child(2) {
        margin: auto;
    }
    header h1 a {
        text-decoration: none;
        color: inherit;
    }
    nav a {
        font-family: Calibri, sans-serif;
    }
    nav span {
        color: gray;
    }
    nav section:nth-child(1) {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    nav section:nth-child(1) a.active {
        border-bottom: 4px solid;
    }
    nav section:nth-child(1) a.active:hover {
        border-bottom: 4px solid;
    }
    nav section:nth-child(1) a {
        padding-bottom: 4px;
        width: 100%;
        font-size: 1.1em;
        text-decoration: none;
        border-bottom: 4px double transparent;
    }
    nav section:nth-child(1) a:hover {
        border-bottom: 4px double;
    }
    nav section:nth-child(2) {
        font-size: 0.9em;
        text-align: center;
        padding-top: 1em;
    }
    h1:nth-child(1), h2:nth-child(1), h3:nth-child(1), h4:nth-child(1), h5:nth-child(1) {
        margin-top: 0;
    }
    h1, h2, h3, h4, h5, header {
        font-family: 'Baskerville', 'Calisto MT', Garamond, 'Times New Roman', serif;
        font-weight: 500;
    }
    h1 section {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    h1 section img {
        margin-right: 12px;
        border-radius: 12px;
    }
    h1 section span {
        flex: 1;
        text-align: center;
        font-size: 1.5rem;
    }
    main {
        max-width: var(--content-width);
        margin: auto;
        margin-top: 24px;
        display: grid;
    }
    time {
        font-family: Calibri, sans-serif;
        font-size: 0.9em;
        color: gray;
    }
    main h1 {
        text-align: left;
        margin: 0;
    }
    main p {
        text-align: justify;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    main img {
        box-shadow: 0px 4px 8px #b6b6b6;
        text-decoration: none;
        vertical-align: top;
        max-width: 100%;
        border-radius: 2px;
    }
    figure {
        margin: 1.625rem 0rem 1.625rem;
    }
    figure img {
        margin-bottom: 8px;
    }
    img .thumb {
        width: 32px;
        height: 32px;
        object-fit: contain;
    }
    figcaption {
        color: #222;
        font-size: .7125em;
        margin-bottom: 0;
        text-align: center;
        font-family: 'Calibri', sans-serif;
    }
    table, th, td {
      border: 1px solid #8d8d8d;
    }
    section#copy {
        font-size: 0.9em;
        margin-top: 32px;
        text-align: center;
    }
    footer h3 {
        font-size: larger;
    }
    footer hr {
        margin-top: 48px;
        margin-bottom: 24px;
        border-bottom-style: solid;
        border-width: 0;
        border-bottom-width: 1px;
        border-color: gray;
        width: 99%;
    }
    footer {
        margin-bottom: 12px;
    }
    blockquote {
        border-left: 4px solid gray;
        margin-left: 0;
        padding-inline-start: 30px;
        font-style: italic;
        background: #efefef;
        margin-inline-end: 0;
    }
    article {
        margin-bottom: 1em;
    }
</style>
</head>
<body>
  <header>
    <h1>/news</h1>
  </header>
  <main>
    {%- for item in pagination.items %}
    <article class="h-entry">
      {% if item.properties.photo[0] !== '' %}
        <p class="p-content">
          {{ item.properties.content[0] | emoji | nl2br | urlize | safe }}
        </p>
      {% endif %}
      {% if item.properties.photo[0] %}
        <div class="u-photo" style="display: flex; flex-direction: row; align-items: center; gap: 0.5em;">
          {% image_thumb_link "./src/_data/photo/"+item.properties.photo[0] %}
          {% image_link "./src/_data/photo/"+item.properties.photo[0] %}
        </div>
      {% endif %}
      <small>
        <time class="dt-published">{{ item.properties.published[0].substr(0, 10) }}</time>
        <a class="u-author" href="{{ item.properties.author[0].properties.url[0] }}">{{ item.properties.author[0].properties.name[0] }}</a>
      </small>
    </article>
    {% endfor -%}
  </main>
  <footer>
    <hr />
    <small>
      <em>/news</em> is built with custom "CMS"+11ty <a href="https://github.com/tommyku/news" rel="me"/>https://github.com/tommyku/news</a>
      <br />
      made lazily by <a href="https://tommyku.com" rel="me"/>Tommy Ku</a></small>
    </small>
  </footer>
</body>
</html>
